@charset "UTF-8";
@font-face {
  font-family: teddy;
  src: url(../fonts/Ostrovsky-Bold_0.otf);
}
body {
  background-color: rgb(255, 204, 228);
  font-family: teddy;
}

html {
  scroll-behavior: smooth;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 20px;
}

._title-block {
  font-size: clamp(22px, 4vw, 30px);
  color: white;
  margin-bottom: 40px;
  line-height: 130%;
  background-color: rgb(228, 40, 40);
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.screen {
  position: relative;
  overflow: hidden;
}
.screen::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 30%;
  height: 100%;
  background-color: rgb(228, 40, 40);
  opacity: 0.2;
}
.screen__container {
  min-height: 100vh;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.screen__img {
  flex: 1;
  position: relative;
  max-width: 500px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
}
.screen__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.screen__content {
  flex: 1;
}
.screen__title {
  font-size: clamp(25px, 4vw, 50px);
  line-height: 130%;
  margin-bottom: 40px;
}
.screen__title span {
  color: rgb(228, 40, 40);
}
.screen__buttons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.screen__button {
  padding: 20px 30px;
  border-radius: 20px;
  color: rgb(228, 40, 40);
  background-color: white;
  font-size: 18px;
  line-height: 130%;
  transition: all 0.3s;
}
.screen__button:hover {
  box-shadow: 0 0 50px white;
}
@media (max-width: 1024px) {
  .screen__container {
    flex-direction: column;
  }
  .screen__img, .screen__content {
    flex: 0;
    text-align: center;
  }
  .screen__buttons {
    justify-content: center;
    flex-wrap: wrap;
  }
  .screen__img {
    height: 800px;
  }
}

.love {
  background-color: rgb(255, 214, 232);
}
.love__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  line-height: 140%;
}
.love__list {
  margin-top: 50px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  line-height: 130%;
}
.love__list span {
  color: rgb(228, 40, 40);
}
.love__item {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgb(228, 40, 40);
  width: -moz-fit-content;
  width: fit-content;
  color: white;
}

.comparison__text {
  font-size: 18px;
  line-height: 140%;
}
.comparison__flex {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.comparison__item {
  text-align: center;
  background-color: white;
  border-radius: 20px;
}
.comparison__item p {
  font-size: 16px;
  line-height: 130%;
  padding-bottom: 20px;
}
.comparison__img {
  position: relative;
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.comparison__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .comparison__flex {
    grid-template-columns: 1fr;
  }
}

.music {
  background-color: rgb(255, 214, 232);
}
.music__text {
  font-size: 18px;
  line-height: 140%;
}
.music__flex {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.music__item {
  background-color: rgb(228, 40, 40);
  border-radius: 20px;
}
.music__item iframe {
  border-radius: 20px;
  margin-bottom: 20px;
}
.music__item p {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}
@media (max-width: 768px) {
  .music__flex {
    grid-template-columns: repeat(1, 1fr);
  }
}

.ending__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  line-height: 130%;
}